.settingsForm {
	display: flex;
	flex-direction: column;
}

.settingsForm * {
	margin: 5px;
	padding: 5px;
}

.settingsForm input[type='text'] {
	font-family: 'Montserrat-Light';
	font-size: 0.8rem;
	letter-spacing: 1px;

	border: 1px solid black;
	border-radius: 4.5px;
}

.settingsForm input[type='text']:focus,
.settingsForm input[type='text']:active {
	outline: none;
}

.settingsForm input[type='text']::placeholder {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.settingsForm input[type='text']:hover::placeholder {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.settingsForm input[type='text']:focus::placeholder,
.settingsForm input[type='text']:active::placeholder {
	opacity: 0;
}

.settingsForm label {
	display: flex;
	align-items: center;

	margin-bottom: 0;
	margin-top: 0;

	font-size: 0.95rem;
}

.settingsForm input[type='checkbox'] {
	margin-left: 0;
	cursor: pointer;
}

.settingsForm button {
	margin: auto;
	margin-bottom: 20px;
	margin-top: 10px;
}
